{# Main brokopondo content (node) #}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}


  <section class="section-broko-pondo row">
    <div class="section-brokopondo__txt  col-sm-5  col-md-4  col-xl-8  mt-1em mb-2em ">
        <p>Deep in the tropical forest of the Guyanas, lies a lake called Brokopondo.</p>
        <p>The Brokopondo Reservoir is about 1500 square kilometers (580 square miles) which is about 9 times the size of Lake Winnipesaukee in New Hampshire.</p>
        <p>The lake was created when a hydroelectric dam was built in the mid-sixties. At the time the timber had little economic value and was left to be flooded. Now fifty years later the perfectly preserved timber is being salvaged.</p>
    </div>
    <div class="section-brokopondo__img  col-sm-7  col-md-8  col-xl-4">
      <img src="/sites/default/files/brokopondo/brokopondo-forest-980x652.jpg" alt="brokopondo image of brokopondo forest"> 
    </div>
  </section>
  
  
  
  
  <section class="section-broko-pondo row mt-2em mb-2em">
    <div class="section-brokopondo__img col-sm-12">
      <img src="/sites/default/files/brokopondo/brokopondo_water-1130x380.png" alt="brokopondo image of logging"> 
    </div>
  </section>
  
  
  
  
    <section class="section-broko-pondo row mt-2em mb-2em">
        <div class="section-brokopondo__img col-sm-12">
          <img src="/sites/default/files/brokopondo/brokopondo_harvest-1024x768.jpg" alt="brokopondo image of brokopondo forest"> 
        </div>
    </section>

  
  
  
  <section class="section-broko-pondo row">
    <div class="section-brokopondo__txt col-sm-5 col-md-4  col-xl-8  mb-4em  mt-1em  mb-2em">
        <p>The lake was created when a hydroelectric dam was built in the mid-sixties. At the time the timber had little economic value and was left to be flooded. Now fifty years later the perfectly preserved timber is being salvaged.</p>
        <p>DMG in collaboration with the salvors brings to the U.S a wide variety of species. Reclaimed from the depths of lake Brokopondo this environmentally sound harvest is now available for your special project. Wide live edge flitches for bars and table tops, decking and sawn lumber. A letter of authenticity is supplied with each piece attesting to the origin.</p>
    </div>
    <div class="section-brokopondo__img  col-sm-7  col-md-8  col-xl-4">
      <img src="/sites/default/files/brokopondo/brokopondo-logging-980x750.jpg" alt="brokopondo image of logging"> 
    </div>
  </section>

  
  
  
  <section class="section-brokopondo  row  mt-2em  mb-2em">
  <div class="section-brokopondo__img  col-sm-12">
      <img src="/sites/default/files/brokopondo/bokopondo_diver-1600x1000.jpeg" alt="brokopondo image of diver"> 
  </div>
  </section>


  <section class="section-broko-pondo row mb-2em">
    <div class="section-brokopondo__img col-sm-12">
      <img src="/sites/default/files/brokopondo/brokopondo_forest-510x340.jpg" alt="brokopondo image of logging"> 
    </div>
  </section>


  <section class="section-brokopondo  row mb-2em mt-2em">
    <div class="section-brokopondo__img  col-sm-12">
      <img src="/sites/default/files/brokopondo/brokopondo_worker-1130x380.png" alt="brokopondo image of diver"> 
    </div>
  </section>

    <section class="section-brokopondo  row mb-2em mt-2em">
        <div align="center" class="embed-responsive  embed-responsive-16by9">
        <video loop="" class="embed-responsive-item" controls="">
            <source src="/sites/default/files/brokopondo/brokopondo_video.mp4" type="video/mp4">
        </video>
        </div>
    </section>



  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('content') }}>
    {{ content }}
  </div>

</article>
